@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>
        <strong>Erro Inesperado</strong>
    </h2>

    <p>
        Opa, parece que algo deu errado.
    </p>
</div>

