@{
    ViewBag.Title = "Sistema de Informações Legislativas da Câmara dos Deputados";
}
<style>
    .panel {
        margin-top: 15px;
    }
</style>

<div class="jumbotron">
    <h2><strong>SISTEMA DE INFORMAÇÕES LEGISLATIVAS DA CÂMARA DOS DEPUTADOS</strong></h2>
    <p class="lead">Sistema que tem o objetivo de disponibilizar Informações Legislativas da Câmara dos Deputados e com isso permitir um acompanhamento por parte da <strong>População Brasileira</strong>.</p>
    <p><a href="http://dados.gov.br/dataset/informacoes-legislativas-da-camara-dos-deputados" class="btn btn-primary btn-large" target="_blank">As informações do sistema foram obtidas através do portal <strong>DADOS ABERTOS (dados.gov.br)</strong></a></p>
</div>
