@{
    ViewBag.Title = "Sistema de Informações Legislativas da Câmara dos Deputados";
}
<style>
    .panel {
        margin-top: 15px;
    }
</style>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChartCotaReferencia);
    function drawChartCotaReferencia() {
        var data = google.visualization.arrayToDataTable([
          ['Referência', 'Cota Parlamentar', { role: 'style' }],
          ['Janeiro', 12168541.02, '#99CCFF'],
          ['Fevereiro', 13730125.39, '#6699CC'],
          ['Março', 13603209.75, '#336699'],
          ['Abril', 11811230.31, '#003399'],
          ['Maio', 6097828.40, '#3366CC']
        ]);

        var formatter = new google.visualization.NumberFormat(
            { prefix: '$' }
        );
        formatter.format(data, 1);

        var options = {
            title: 'Cota Parlamentar 1º Semestre 2014',
            legend: 'none',
            vAxis: { format: '$###,###,###.00' }, // Money format
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_cota_referencia'));
        chart.draw(data, options);
    }
</script>

</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Cota Parlamentar 1º Semestre 2014</strong></div>
            <div class="panel-body">
                <div id="chart_div_cota_referencia"></div>
            </div>
        </div>
    </div>
        
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Top 10 (Maiores gastos)</strong></div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
