@{
    ViewBag.Title = "LandingPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .navbar {
        background-color: #f9faf7;
    }

</style>

<div class="container">
    <h2>LandingPage</h2>
</div>


