@model IEnumerable<SILCD.Models.OrgaoViewModels>
@using SILCD.Util;
@using GridMvc.Html;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#formAjax').submit(function () {
            $("#retornoAjax").empty();
        });
        $("input[name='chkFiltroTipo']").click(function () {
            $("#formAjax").submit();
        });
    });
</script>

<div class="page-header">
    <h2>
        Órgãos Legislativos
        <small>@Constantes.TITULO_SISTEMA.ToString()</small>
    </h2>
</div>

@using (Ajax.BeginForm("Listar", "Orgaos", new AjaxOptions {
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "retornoAjax",
    LoadingElementId = "loader"


}, new { @id = "formAjax", @name = "formAjax", @class = "form-inline", @role = "form" })) {
    <div class="bs-callout bs-callout-info">
        <h4>Filtros</h4>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="chkFiltroTipo" value="Educação">
                    Educação
                </label>
            </div>&nbsp;
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="chkFiltroTipo" value="Saúde">
                    Saúde
                </label>
            </div>&nbsp;
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="chkFiltroTipo" value="Segurança">
                    Segurança
                </label>
            </div>&nbsp;
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="chkFiltroTipo" value="Transporte">
                    Transporte
                </label>
            </div>
        </div>
    </div>
        
    <div id="loader" style="display: none;">
        <img src="~/Content/images/ajax-loader.gif" />
        Carregando
    </div>
}

@{
    Html.RenderPartial("Listar");
}
