body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Carrois Gothic', serif;
}

.navbar {
    background-color: #f9faf7;
}

    .navbar footer {
        background-color: #f9faf7;
    }

.title {
    letter-spacing: 1px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#smallTitle {
    float: left;
    margin-top: 18px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    font-family: 'Carrois Gothic', serif;
}

text {
    font-family: 'Carrois Gothic', serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Carrois Gothic', serif;
    font-weight: 500;
    line-height: 1.1;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Alterações do arquivo original */
.navbar-brand {
    font-size: 2.2em;
    font-weight: bold;
    color: #fff;
}

.jumbotron h2 {
    font-size: 2.0em;
}

.footer {
    font-size: 0.9em;
}

.avatar {
    float: left;
    margin-right: 25px;
    border: 2px solid #e9ecee;
    position: relative;
    top: 3px;
}

.name {
    font-weight: 600;
    margin: 20px 0 8px 0;
    line-height: 26px;
    margin-bottom: 10px;
    float: none;
}

span.area {
    color: #7d848c;
    font-style: italic;
    font-size: 14px;
}

.detalhes-deputado {
}

    .detalhes-deputado dd {
        margin-bottom: 7px;
    }

.text-justify{
    text-align: justify;
}