@model IEnumerable<SILCD.Models.CotaParlamentarViewModels>
@using SILCD.Util;
@using GridMvc.Html;

@{
    ViewBag.Title = "Cota Parlamentar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>
        Cota Parlamentar
        <small>@Constantes.TITULO_SISTEMA.ToString()</small>
    </h2>
</div>

@using (Html.BeginForm("CotaParlamentar", "Deputados", FormMethod.Post, new { @id = "form", @name = "form", @role = "form" })) {
    @Html.Grid(Model).Columns(columns => {
        columns.Add(c => c.Id).Titled("Id").Sortable(true).Filterable(true);
        columns.Add(c => c.txNomeParlamentar).Titled("Nome Parlamentar").Sortable(true).Filterable(true);
        columns.Add(c => c.sgUF).Titled("UF").Sortable(true).Filterable(true);
        columns.Add(c => c.sgPartido).Titled("Partido").Sortable(true).Filterable(true);
        columns.Add(c => c.txtDescricao).Titled("Descrição").Sortable(true).Filterable(true);
        columns.Add(c => c.datEmissao).Titled("Data Emissão").Sortable(true).Filterable(true);
        columns.Add(c => c.vlrDocumento).Titled("Vl. Doc.").Sortable(true).Filterable(true).Format("{0:C}");
        columns.Add(c => c.vlrGlosa).Titled("Vl. Glosa").Sortable(true).Filterable(true).Format("{0:C}");
        columns.Add(c => c.vlrLiquido).Titled("Vl. Líquido").Sortable(true).Filterable(true).Format("{0:C}");
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(c => c.numMes.ToString() + "/" + c.numAno.ToString()).Titled("Referência");
    }).WithPaging(50).Filterable(true).Sortable(true);
}