@{
    ViewBag.Title = "DistribuicaoPorUF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['UF', 'Quantidade de Deputados'],
            ['AC', 8],
            ['AL', 9],
            ['AM', 8],
            ['AP', 8],
            ['BA', 38],
            ['CE', 22],
            ['DF', 8],
            ['ES', 10],
            ['GO', 17],
            ['MA', 18],
            ['MG', 53],
            ['MS', 8],
            ['MT', 8],
            ['PA', 17],
            ['PB', 12],
            ['PE', 25],
            ['PI', 10],
            ['PR', 30],
            ['RJ', 46],
            ['RN', 8],
            ['RO', 8],
            ['RR', 8],
            ['RS', 31],
            ['SC', 16],
            ['SE', 8],
            ['SP', 70],
            ['TO', 8]
        ]);

        var options = {
            title: 'DEPUTADOS X UF',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchartUF'));
        chart.draw(data, options);
    }
</script>



<h2>Distribuição por UF</h2>

<div id="donutchartUF" style="width: 900px; height: 500px;"></div>


